/* src/components/AboutUs.css */
@import '../styles/colors.css';

.about-us-container {
  max-width: 800px;          /* Limit the maximum width of the container */
  margin: 0 auto;            /* Center the container horizontally */
  padding: 2rem;             /* Add space around the content */
  font-family: 'Julius Sans One', sans-serif;  /* Set the font family */
  line-height: 1.6;          /* Set line spacing for better readability */
  background-color: var(--background-light);
  color: var(--text-light); 
}

.about-us-container h1 {
  color: var(--primary-color);              /* Dark grey color for the heading */
  text-align: center;        /* Center-align the heading text */
  margin-bottom: 3rem;       /* Add space below the heading */
  font-size: 2rem;           /* Adjust heading size */
}

.about-section {
  margin-bottom: 3rem;       /* Add space between sections */
}

.about-section h2 {
  color: var(--primary-color);         /* Green color for section headings */
  margin-bottom: 1.5rem;     /* Add space below section headings */
  font-size: 1.5rem;         /* Adjust heading size */
}

.about-section p {
  margin-bottom: 1rem;      /* Add space below paragraphs */
}

.about-section ul {
  list-style-type: disc;    /* Use bullet points for list items */
  margin-left: 20px;        /* Add indentation for the list */
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {   /* Apply these styles when screen width is 768px or less */
  .about-us-container {
      padding: 1.5rem;        /* Reduce padding on mobile */
  }
  
  .about-us-container h1 {
      font-size: 1.8rem;      /* Smaller heading size on mobile */
  }
  
  .about-section h2 {
      font-size: 1.3rem;      /* Smaller section heading size on mobile */
  }
}

/* Dark Mode Styles */
.dark-mode .about-us-container {
  background-color: var(--background-dark); 
  color: var(--text-dark);
}

.dark-mode .about-us-container h1 {
  color: var(--text-dark);
}

.dark-mode .about-section h2 {
  color: var(--text-dark); 
}