/* src/components/HomePage.css */
@import '../styles/colors.css';

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; /* Reduced padding for mobile */
  transition: all 0.3s ease;
  background-color: var(--background-light);
  color: var(--text-light);
}

.form-container {
  width: 100%;
  margin-bottom: 1rem; /* Reduced margin */
}

.form-section {
  background-color: white;
  padding: 1.5rem; /* Reduced padding */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Softer shadow */
  transition: transform 0.3s ease;
}

.form-section:hover {
  transform: translateY(-3px); /* Reduced translation */
}

h2 {
  color: var(--primary-color);
  margin-bottom: 0.8rem; /* Reduced margin */
  font-size: 1.8rem; /* Slightly smaller font size */
  text-align: center;
}

.error-message {
  color: var(--accent-color);
  margin-bottom: 0.8rem; /* Reduced margin */
  text-align: center;
  font-size: 0.9rem; /* Smaller font size for error */
}

/* Dark mode styles */
/* ... (Existing dark mode styles) */

/* Media Queries for improved mobile responsiveness */
@media (max-width: 768px) { 
  .form-container {
    width: 100%; 
  }

  h2 {
    font-size: 1.5rem;
  }
}
