/* src/components/HomePage.css */
@import '../styles/colors.css';

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  transition: all 0.3s ease;
  background-color: var(--background-light);
  color: var(--text-light);
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

.form-section {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.form-section:hover {
  transform: translateY(-5px);
}

h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.error-message {
  color: var(--accent-color);
  margin-bottom: 1rem;
  text-align: center;
}

/* Dark mode styles */
.dark-mode .home-page-container {
  background-color: var(--background-dark) !important;
  color: var(--text-dark) !important;
}

.dark-mode .form-section {
  background-color: var(--secondary-color);
}

.dark-mode h2 {
  color: var(--text-dark);
}

/* Add any additional styles for MediaForm and VideoSection components here */