/* src/components/MediaDetail.css */
@import '../styles/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.media-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.media-detail-content {
  background-color: var(--background-light);
  color: var(--text-light);
  padding: 2rem;
  font-family: 'Source Code Pro';
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-family: 'Source Code Pro';
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-light);
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--primary-color);
}

.media-detail-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.media-detail-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.media-detail-info h2 {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Source Code Pro';
  
}

.media-detail-info p {
  margin-bottom: 0.5rem;
}

.watch-now-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Source Code Pro';
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.watch-now-button:hover {
  background-color: var(--primary-color-dark);
  transform: translateY(-2px);
}

/* Dark mode styles */
.dark-mode .media-detail-content {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark-mode .close-button {
  color: var(--text-dark);
}

.dark-mode .media-detail-info h2 {
  color: var(--text-dark);
}

@media (max-width: 768px) {
  .media-detail-grid {
    grid-template-columns: 1fr;
  }
  
  .media-detail-poster {
    max-width: 300px;
    margin: 0 auto;
  }
}