/* src/components/MediaForm.css */
.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem; /* Add margin for spacing between radio buttons */
}

.custom-radio input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.custom-radio span {
  padding: 8px 16px; /* Adjust padding for a better fit */
  border: 2px solid #007bff;
  border-radius: 20px;
  background-color: white;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.9rem; /* Adjust font size for better readability */
}

.custom-radio input[type="radio"]:checked + span {
  background-color: #007bff;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom-radio {
    flex: 1; /* Allow radio buttons to grow and fit in a row */
    margin: 0.25rem; /* Reduce margin for tighter spacing */
  }

  .custom-radio span {
    padding: 6px 12px; /* Reduce padding for mobile */
    font-size: 0.8rem; /* Smaller font size for mobile */
  }
}

/* src/components/MediaForm.css */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}