/* src/components/Navbar.css */
@import '../styles/colors.css';

.navbar {
  background-color: var(--primary-color);
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.dark-mode {
  background-color: var(--secondary-color);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover, .nav-links a.active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.dark-mode-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: white;
}

.dark-mode-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(360deg);
}

.hamburger {
  display: none; /* Initially hidden */
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #333;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.dark-mode .hamburger span {
  background-color: #fff;
}

.menu-open .nav-links {
  display: flex; /* Show links in a column */
  flex-direction: column; /* Stack links vertically */
  position: absolute;
  top: 60px; /* Adjusted to fit below the navbar */
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

.menu-open .nav-links a {
  display: block; /* Make each link a block element */
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.menu-open .nav-links a:last-child {
  border-bottom: none; /* Remove bottom border from last link */
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links by default */
  }
  .hamburger {
    display: flex; /* Show hamburger icon on mobile */
  }
  .menu-open .nav-links {
    display: flex; /* Show links when menu is open */
  }
}

/* Additional styles for dark mode */
.dark-mode .menu-open .nav-links {
  background-color: #222; /* Dark background for the menu in dark mode */
}

.menu-open .nav-links a {
  color: #333; /* Text color for light mode */
}

.dark-mode .menu-open .nav-links a {
  color: #fff; /* Text color for dark mode */
}

.menu-open .nav-links a:hover,
.menu-open .nav-links a.active {
  background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
}