/* src/components/Support.css */
@import '../styles/colors.css'; 

.support-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 1.6;
  background-color: var(--background-light);
  color: var(--text-light); 
}

.support-container h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.support-section {
  margin-bottom: 3rem;
}


.support-section h2 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.support-section h3 {
  color: var(--text-light);
  margin-bottom: 1rem;
}

.support-section p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.support-section ul {
  list-style-type: none;
  padding: 0;
}

.support-section li {
  margin-bottom: 1.5rem;
}

.dmca-disclaimer {
  background-color: var(--accent-color); 
  border: 1px solid var(--border-color, #ddd); 
  padding: 1.5rem;
  border-radius: 8px;
  color: var(--text-light); /*  Ensure good contrast in light mode */
}

.dmca-disclaimer p {
  font-size: 1rem; 
  margin-bottom: 0.8rem;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .support-container {
    padding: 1.5rem;
  }

  .support-container h1 {
    font-size: 1.8rem;
  }

  .support-section h2 {
    font-size: 1.3rem;
  }

  .dmca-disclaimer {
    padding: 1rem;
  }
}

/* Dark mode styles */
.dark-mode .support-container {
  background-color: var(--background-dark); 
  color: var(--text-dark);
}

.dark-mode .support-container h1 {
  color: var(--text-dark);
}

.dark-mode .support-section h2 {
  color: var(--text-dark); 
}

.dark-mode .dmca-disclaimer {
  background-color: var(--primary-color); /* Adjust this based on your dark mode color scheme */
  border-color: var(--border-color-dark, #ddd); 
  color: var(--text-dark); /* Ensure good contrast in dark mode */
}
.dark-mode .dmca-disclaimer p {
  color: var(--text-dark);
}