/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './styles/colors.css';

body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-light);
}

.App.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.page-transition-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}